---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import ThemeShowcase from "../components/ThemeShowcase.astro";
import Features from "../components/Features.astro";
import Install from "../components/Install.astro";
import Gallery from "../components/Gallery.astro";
import GetStarted from "../components/GetStarted.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <ThemeShowcase />
    <Features />
    <Install />
    <Gallery />
    <GetStarted />
  </main>
  <Footer />
</Layout>
